
@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), url(~assets/scss/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), url(~assets/scss/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

